.QR-img-box{
    width: 50px;
    height: 30px;
}
.fill-img-box{
    width: 100%;
    height: 100%;
    
    margin-top: -60px;
}
.table-btn{
    height: max-content;
}
.text-style{
    font-family: serif;
}
.billing-cards-2{
    background-color: #e5e5e6;
    padding: 20px 10px 20px 10px; 
    height: 100%;
}
.table-btns{
    margin-top: 10px;
}
.select{
    width: 250px !important;
    height: 40px;
}