

  .item-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    color: white !important;
   
  }
  
  .item-container {
    flex: 0 0 25%;
     /* Adjust this value to control the width of each column */
    margin-bottom: 20px;
    
  
  }
  .card-item {

    /* background-color: #19535b; */
    /* color: white !important; */
    background-color: rgb(218, 210, 210);

   
    
  }

  